<div class="projects-section-outer">
  <div class="projects-section-inner">
    <div class="container">
      <div class="row">
        <h1 class="title text-start py-2">What I Done</h1>
        <div class="col-12 col-lg-4 col-md-6 project-outer" *ngFor="let project of projects ">
          <div class="card" [ngStyle]="{'background-image': 'linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(' + project.imageLink + ')'}">
            <div class="card-header">
              <h4 class="card-title">{{project.projectName}}</h4>
              <div class="card-subtitle">{{project.technologies}}</div>
            </div>
            <div class="card-body">
              <p class="card-content">{{project.description}}</p>
            </div>
            <div class="card-footer">
              <a href="{{project.gitLink}}" target="blank"><button>See More</button></a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

