.footer-outer{
  width: 100%;
  height: auto;
  .footer-inner{
    padding: 20px 0;
    background-color: rgb(47, 53, 66);
      p{
        margin: 0;
        color: #FFFFFF;

        i{
          color: rgb(255, 165, 2);
        }
      }
  }
}
