<div class="skills-section-outer">
  <div class="skills-section-inner">
    <div class="container">
      <div class="row">
        <div class="left col-12 col-lg-6">
          <h1 class="title">My Skills And Tools</h1>
          <p class="description">
            As a software developer, I leverage a diverse set of tools and skills to design, build, and maintain
            innovative software solutions. My toolbox includes programming languages like  Java and JavaScript,
            as well as development frameworks, version control systems like Git, and proficiency in debugging, testing,
            and problem-solving. These skills enable me to create efficient and reliable software that meets the needs
            of clients and end-us</p>
          <button class="hire-me-btn">
            <i class="fa-brands fa-phoenix-framework"></i>
            Hire me
          </button>
        </div>
        <div class="right col-12 col-lg-6">
          <div class="skills-carousel ">
            <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let icon of slidesIcon">
                <ng-template carouselSlide>
                  <div class="carousel-content">
                    <i [class]="icon.iconClass" class="icon"></i>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
