.works-outer{
  width: 100%;
  height: auto;
  .works-inner{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("assets/images/projects.jpg");
    background-position: center;
    background-size: cover;
    .works-landing{
      h1{
        color: rgb(255, 165, 2);
        font-weight: 900;
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 7px;
        line-height: 50px;
      }
    }


  }
  .work-item-outer{
    padding: 100px 0;
    background-color: white;

    h1{
      color: rgb(255, 165, 2);
      font-weight: 900
    }
  }
}
