<div class="hero-section-outer">
  <div class="hero-section-inner">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 left">
          <div class="inner-item">
            <h1 class="greeting">Hello, I'm</h1>
            <h1 class="name">
              <span class="large-text">T</span>asheela

              <span class="large-text">J</span>ayawickrma
            </h1>
            <p class="description">
              I am Tasheela Jayawickrama, an aspiring software engineer from Sri Lanka. Currently an undergraduate, I
              am passionate about technology and possess strong analytical skills. My determination, collaborative
              nature, and cultural background contribute to my ambition to create impactful, user-centric software
              solutions.
            </p>

            <div class="button-area">
              <button class="contact-btn" routerLink="/portfolio/contact">
                <i class="fa-solid fa-phone-volume"></i>

                Contact Me

              </button>
              <button class="download-btn">
                <i class="fa-solid fa-download"></i>
                Download CV

              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 right d-flex align-items-center justify-content-center">
          <img src="assets/images/hero.png" alt="" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>
