<div class="home-page-outer">
  <div class="home-page-inner">

    <!--Hero Section-->
    <app-hero-section></app-hero-section>
    <!--Hero Section-->

    <div class="title">
      <h1>About Me</h1>
    </div>

    <!--About Me Section-->
    <app-about-section></app-about-section>
    <!--About Me Section-->

    <div class="title">
      <h1>Skills & Tools</h1>
    </div>

    <!--my works Section-->
    <app-skills-section></app-skills-section>
    <!--my works Section-->

    <div class="image-bar-outer">
      <div class="image-bar-inner">
        <h1 class="title text-center">My Works</h1>
        <button class="hire-me-btn" routerLink="/portfolio/works">
          <i class="fa-brands fa-phoenix-framework"></i>
          See more
        </button>
      </div>
    </div>

    <div class="title">
      <h1>Contact Me</h1>
    </div>

    <!--contact me Section-->
    <app-contact-section></app-contact-section>
    <!--contact me Section-->




















  </div>
</div>
