<div class="contact-section-outer">
  <div class="contact-section-inner">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 contact-left">
          <h2>Get In Touch</h2>
          <p>{{getInTouch}}</p>
          <div class="contact-details">
            <div class="mobile">
              <i class="fa-solid fa-phone-volume"></i>
              +94766308272
            </div>
            <div class="email">
              <i class="fa-solid fa-envelopes-bulk"></i>
              tasheelajay1999@gmail.com
            </div>
            <div class="address">
              <i class="fa-solid fa-location-dot"></i>
              Matale, SriLanka
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 contact-right">
          <h2>Contact Form</h2>
          <div class="form">
            <form class="example-form">
              <div class="mb-3">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name">
              </div>
              <div class="mb-3">
                <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="Email">
              </div>
              <div class="mb-3">
                <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="Phone">
              </div>
              <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"
                          placeholder="Message"></textarea>
              </div>
              <button class="contact-send-me-btn" routerLink="/portfolio/contact">
                <i class="fa-solid fa-comment-sms"></i> Send Message
              </button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

